# swc-utils==0.0.1
requests~=2.31.0
Flask~=3.0.3
psutil~=5.9.5
SQLAlchemy==2.0.30
sqlalchemy-json==0.7.0
Flask-SQLAlchemy==3.1.1
python-socketio==5.8.0
websocket-client==1.6.2
beautifulsoup4==4.12.2
python-ffmpeg-video-streaming==0.1.15
openai-whisper
numpy
tqdm
iso639-lang

# if on windows
# run "pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121" before installing other packages

Werkzeug~=3.0.1