{% extends "bases/main_base.html" %}

{% block body %}

    <form class="bg-dark p-3" action="" method="post">
        <h1 class="text-white">Add Episode</h1>

        <div class="form-group">
            <label for="series">Series</label>
            <select class="form-control" name="series" id="series">
                {% for series in series %}
                    <option value="{{ series.uuid }}" {{ "selected" if selected_series == series.uuid }}>{{ series.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="season">Season</label>
            <input type="number" class="form-control" name="season" id="season" placeholder="Season" value="{{ season or 1 }}">
        </div>
        <div class="form-group">
            <label for="episode">Episode</label>
            <input type="number" class="form-control" name="episode" id="episode" placeholder="Episode" value="{{ (episode + 1) if episode else 1 }}">
        </div>

        <span class="text-warning">{{ info }}</span> <br/>
        <button type="submit" class="btn btn-primary">Add Episode</button>
    </form>

    <script>
        let form = document.querySelector('form');
        let title = form.querySelector("input[name='title']");
        let season = form.querySelector("input[name='season']");
        let episode = form.querySelector("input[name='episode']");

        function updateTitle(){
            if(title.value !== "" && ((title.value.at(0) !== "S" && title.value.at(3) !== "E") || title.value.length !== 5)) return
            title.value = "S" + season.value + " E" + episode.value;
        }

        season.addEventListener("change", updateTitle);
        episode.addEventListener("change", updateTitle);

        window.onload = updateTitle;
    </script>

{% endblock %}