<!DOCTYPE html>
<html lang="en-us" user-agent="{{
    "Firefox"
    if request.user_agent.string.split(" ").pop().split("/").pop(0) == "Firefox"
    else "Chrome"
}}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FlexNit{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software City">

    <meta name="theme-color" content="#272727">
    <link rel="manifest" href="/static/pwa/manifest.json">
    <script src="/static/pwa/sw-register.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon-128.png">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bases/base_style.css">
    <link rel="stylesheet" href="/static/css/utils/effects.css">
    <link rel="stylesheet" href="/static/css/pages/error_styles.css"/>

    <link rel="stylesheet" href="/static/font/material_icons/material_icons.css">

    <script src="/static/bootstrap/bootstrap.bundle.min.js" defer></script>
    <script src="/static/js/bases/base_script.js" defer></script>

    {% if session.get("logged_in") == True %}
    <script>
        globalThis.user = {{ session.get("username")|tojson }};
        globalThis.admin = {{ session.get("admin")|tojson }};
        globalThis.cloud = {{ session.get("cloud")|tojson }};
        globalThis.permissions = {{ session.get("permissions")|tojson }};
    </script>
    {% endif %}

    {% block base_head %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    {% block nav %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>