{% extends "bases/minimal_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-white">flexNit Login</h1>
        <div class="text-center mb-5">
            <span class="text-warning" id="error">{{ error }}</span>
        </div>
        <form method="POST" action="/login{{ '?jump=' + redirect if redirect else '' }}">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <input type="password" class="form-control" placeholder="Password" name="password" required>
            <div class="mb-4">
                <span class="text-secondary">
                    Please use your
                    <a href="https://interface.software-city.org/" target="_blank">Software City Interface</a>
                    login credentials.
                </span>
            </div>
            <button type="submit" class="btn btn-lg btn-info w-100" >Login</button>
        </form>
    </div>
{% endblock %}